body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.btn {
  position: absolute;
  padding: 8px 12px;
  background-color: #9370DB;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
.btn-1 {
  top: 7%;
  left: 28%;
}
.btn-2 {
  top: 20%;
  left: 78%;
}
.btn-3 {
  top: 50%;
  left: 89%;
}
